table{
    width: 80%;
    margin: auto;
    border: 1px solid lightgray;
    text-align: center;
    font-family: '微軟正黑體',Arial, Helvetica, sans-serif;
    font-weight: bold;
}
th,td{
    padding: 5px;
}
th{
    background-color: darkslategray;
    color: #fff;
}
tr:nth-child(odd){
    background-color: rgb(250, 250, 229);
}
tr:nth-child(even){
    background-color: rgb(253, 235, 235);
}
tr:hover{
    background-color: #fff;
}
td:hover{
    background-color: rgb(19, 19, 19);
    color: #FFF;
}
h1>div{
    text-align: center;
    margin: auto;
    font-family: '微軟正黑體',Arial, Helvetica, sans-serif;
    font-weight: bold;
}
button{
    margin: 0px 2px;
    padding: 5px 1px;
    border-radius: 2px;
}